:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: width 2s ease-in-out;
    }

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    left: 0;
}

#menu::before {
    top: -20px;
}

#menu::after {
    top: 20px;
}

.container {
    border-color: greenyellow;
    border-width: 5px;
    border-style: solid;
    width: var(--menu-bar-width);
    padding: 20px 0;
}

.container:hover #menu {
    background-color: transparent;
}

.container:hover #menu::before {
    transform: rotate(45deg);
    transition: ease-in-out .2s;
    top: 0;
}

.container:hover #menu::after {
    transform: rotate(-45deg);
    transition: ease-in-out .2s;
    top: 0;
}